<app-nav-bar></app-nav-bar>
<div class="body">

  <main role="main" class="container">
    <div class="row">

    
      <div class="col-md-8">
          <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home"
                  aria-selected="true">Utilisateur</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile"
                *ngIf="auth.isAdmin()"   aria-selected="false">Manager</a>
                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact"
                *ngIf="auth.isAdmin()"   aria-selected="false">Nouveaux Compte</a>
              </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                  <div class="my-3 p-3 bg-white rounded box-shadow">
      
                    <div class="table-responsive">
                        <fieldset>
                            <legend >Recherche Utilisateur</legend>
                        <div class="form-group">
                            <input  [(ngModel)]="motCleUser" type="text" placeholder="Par Nom de l'Utilisateur" class="form-control">
                          </div>
                          </fieldset>
                      <table class="table table-sm">
                        <tr>
                          <th>#</th>
                          <th>Nom Prenom</th>
                          <th>Etat Compte</th>
                          <th>Inscrit Le </th>                         
                          <th>action</th>
                        </tr>
                        <tr *ngFor="let user of users  | parametrageUserFilter:motCleUser; let i = index">
                          <td>#{{i+1}}</td>
                         
                          <td>{{user.nom}} {{user.prenom }}</td>
                          <td *ngIf="user.active == true">Active</td>
                          <td *ngIf="user.active == false">Désactive</td>
                          <td>{{ user.dateInscrit | date : 'dd/MM/yyyy hh:mm' }}</td>
                       
      
                          <td>
                            <button type="button" class="btn btn-sm btn-default" (click)="detailUser(user)"><i class="far fa-eye"></i>
      
                            </button>
                           
                          </td>
                        </tr>
                      </table>
                    </div>
      
      
      
                  </div>
                </div>
                <!-- liste de utilisateur -->
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" *ngIf="auth.isAdmin()">
           
                    <div class="table-responsive">
                        <fieldset>
                            <legend >Recherche Manager</legend>
                      <div class="form-group">
                        <input [(ngModel)]="motCle" type="text" placeholder=" Par Nom de Manager" class="form-control">
                      </div>
                      </fieldset>
                        <table class="table table-sm">
                          <tr>
                            <th>#</th>
                            <th>Nom Prenom</th>
                            <th>Username </th>                         
                            <th>action</th>
                          </tr>
                          <tr *ngFor="let manager of managers | parametrageManagerFilter:motCle ; let i = index">
                            <td>#{{i+1}}</td>
                            <td>{{manager.nom}} {{manager.prenom }}</td>
                            <td>{{ manager.username }}</td>
                         
        
                            <td>
                              <button type="button" class="btn btn-sm btn-default" (click)="detailUser(manager)"><i class="far fa-eye"></i>
        
                              </button>
                             
                            </td>
                          </tr>
                        </table>
                      </div>

                </div>
                <!-- liste de manager -->
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" >
                    <div class="card w-100">
                        <div class="card-body">
                          <h5 class="card-title"> <i class="fas fa-user-circle"></i>


      
                            Compte Manager
      
                          </h5>
                           
                          <p class="card-text"></p>
                          <div class="alert alert-success" *ngIf="submited">
                              {{messageManager}}
                          </div>
                          <form novalidate #fo="ngForm" class="form-signin" (ngSubmit)="saveManager(fo)">
                              <div class="alert alert-danger"   *ngIf="username.errors?.required && nom.touched " >
                                  *  Veuillez Complétez le Champ Username
                                 </div>
                                 <div class="alert alert-danger"   *ngIf="nom.errors?.required && prenom.touched " >
                                    *  Veuillez Complétez le Champ Nom
                                   </div>
                                   <div class="alert alert-danger"   *ngIf="prenom.errors?.required && email.touched " >
                                      *  Veuillez Complétez le Champ Prenom
                                     </div>
                                     <div class="form-row"> 
                                        <div class="form-group col-md-6">
                                            <div class="form-label-group">Nom :
                                              <input type="text"    name="nom" [(ngModel)]="user.nom" placeholder="Nom" #nom="ngModel" class="form-control" required>
                      
                                            </div>
                                          </div>
                                          <div class="form-group col-md-6">
                                            <div class="form-label-group"> Prenom :
                                              <input type="text"   [(ngModel)]="user.prenom" placeholder="Prenom" #prenom="ngModel" name="prenom" class="form-control" required>
                      
                                            </div>
                                          </div>
                                         
                                     </div>
                            
                           <div class="form-row">
                              <div class="form-group col-md-6">
                                  <div class="form-label-group"> Username :
                                    <input type="text"  [(ngModel)]="user.username" placeholder="Username" #username="ngModel"  name="username" class="form-control" required>
            
                                  </div>
                                </div>
                              <div class="form-group col-md-6">
                                  <div class="form-label-group"> Email :
                                    <input type="text"  [(ngModel)]="user.email" placeholder="Email" #email="ngModel"  name="email" class="form-control" required>
            
                                  </div>
                                </div>
                              
                           </div>
                           <div class="form-group  ">
                              <div class="form-label-group"> Mot de passe
                                <input type="text" [(ngModel)]="password"  #passwordT="ngModel"  name="password" class="form-control" >
        
                              </div>
                            </div>         
        
                            <button [disabled]="!fo.form.valid" type="submit" class="btn-md  btn btn-default">Créer</button>
        
        
        
        
        
                          </form>

                          </div>
                          </div>
                    
                </div><!-- Nouveau Compte manager-->
              </div>
      </div>

      <div class="col-md-4">
          <div class="card border-light mb-3" style="max-width: 18rem;">
              <div class="card-header">#Paramétrage</div>
              <div class="card-body">
                <h5 class="card-title"> Compte Utilisateur </h5>
                <p class="card-text lh-125 border-bottom border-gray"> <span class="badge badge-info"> {{ totaleCompteNonActive }}</span> : compte(s)  desactivé</p>
              </div>
            </div>
      </div>



 
    </div>
  </main>
</div>