<app-nav-bar></app-nav-bar>
<div class="body">

  <main role="main" class="container">
    <div class="row">
      <div class="col-md-8">
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home"
              aria-selected="true">Evenement</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile"
              aria-selected="false">Tache</a>
            <a   class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact"
              aria-selected="false">Document</a>
          </div>
        </nav>

        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="alert alert-warning" *ngIf="submitedArchiveEvent">
              {{messsageArchiveEvent}}
            </div>
            <div class="table-responsive">
                <fieldset>
                    <legend>Recherche Archive</legend>
                    <div class="form-group">
                      <input [(ngModel)]="motCle" type="text" placeholder="Par Nom du L'evenement" class="form-control">
                    </div>
                  </fieldset>
              <table class="table table-sm">
                <tr>
                  <th>#</th>
                  <th>Nom</th>
                  <th>Etat</th>
                  <th>Action</th>

                 
                </tr>
                <tr *ngFor="let archiveEvent of archivedEvent | eventFilter:motCle; let i = index ">
                  <td>#{{i+1}}</td>
                  <td> {{archiveEvent.nomEvenement}} </td>
                  <td> {{archiveEvent.etatEvent}} </td>
                  <td>
                    <button type="submit" class="btn" (click)="deleteEventArchive(archiveEvent)" data-toggle="tooltip" data-placement="top" title="supprimer définitivement"><i class="fas fa-trash-alt"></i>

                     </button>
                  </td>
                   

                   
                </tr>
              </table>
            </div>

          </div>
          <!-- archive evenement -->
          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div class="alert alert-warning" *ngIf="submitedArchiveTache">
              {{messsageArchiveTache}}
            </div>
              <div class="table-responsive">
                  <fieldset>
                      <legend>Recherche Tache</legend>
                      <div class="form-group">
                        <input [(ngModel)]="motCle" type="text" placeholder="Par Nom du Tache" class="form-control">
                      </div>
                    </fieldset>
                <table class="table table-sm">
                  <tr>
                    <th>#</th>
                    <th>Nom</th>
                    <th>Etat</th>
                    <th >Action</th>
  
                    
                  </tr>
                  <tr *ngFor="let archiveTask of archivedTask | tacheFilter:motCle; let i = index ">
                    <td>#{{i+1}}</td>
                    <td> {{archiveTask.nomTache}} </td>
                    <td> {{archiveTask.etatTache}} </td>
                     <td><button type="submit" class="btn" (click)="deleteTaskArchive(archiveTask)"  data-toggle="tooltip" data-placement="top" title="supprimer définitivement"><i class="fas fa-trash-alt"></i>

                     </button>
                   <button type="submit" (click)="restoreTask(archiveTask)" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="restaurer"><i class="fas fa-sync-alt"></i>

                    </button></td>
                   
                  </tr>
                </table>
              </div>
         

          </div>
          <!-- Archive Tache  -->
          <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <div class="alert alert-warning" *ngIf="submitedArchiveDoc">
              {{messsageArchiveDoc}}
            </div>
            <div class="table-responsive">
              <fieldset>
                  <legend>Recherche Tache</legend>
                  <div class="form-group">
                    <input [(ngModel)]="motCle" type="text" placeholder="Par Nom du Tache" class="form-control">
                  </div>
                </fieldset>
            <table class="table table-sm">
              <tr>
                <th>#</th>
                <th>Nom Document</th>
                <th>File</th>
                <th>Action</th>
              
              </tr>
              <tr *ngFor="let archivedoc of archivedDoc | docFilter:motCle; let i = index ">
                <td>#{{i+1}}</td>
                <td> {{archivedoc.nomDocument}} </td>
                <td> {{archivedoc.file}} </td>
                 <td>
                    <button type="submit" (click)="deleteDocArchive(archivedoc)" class="btn"  data-toggle="tooltip" data-placement="top" title="supprimer définitivement"><i class="fas fa-trash-alt"></i>

                    </button>
                  <button type="submit" (click)="restoreDocument(archivedoc)" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="restaurer"><i class="fas fa-sync-alt"></i>

                   </button>
                 </td>

              
              </tr>
            </table>
          </div>
     
          </div><!-- Archive Document-->
        </div>


      </div>
      <!-- div md8 -->
       
        







      <div class="col-md-4">

          <div class="card border-light mb-3" style="max-width: 18rem;">
              <div class="card-header">#Archive</div>
              <div class="card-body">
                  <h5 class="card-title"> Tache  </h5>
                  <p class="card-text lh-125 border-bottom border-gray"> <span class="badge badge-primary"> {{ totalArchiveTache }}</span> : Tache(s)  archivé</p>
                
                    <h5 class="card-title"> Document  </h5>
                    <p class="card-text lh-125 border-bottom border-gray"> <span class="badge badge-primary"> {{ totalArchiveDocument }}</span> : Document(s)  archivé</p>
                     
                      <h5 class="card-title"> Evenement  </h5>
                      <p class="card-text lh-125 border-bottom border-gray"> <span class="badge badge-primary"> {{ totalArchiveEvent }}</span> : Evenement(s)  archivé</p>

                
                
                <p class="card-text  lh-125 border-bottom border-gray"    >
                    <span>  
                         
      
      
      
                      </span>
                </p>
              </div>
            </div>
 


      </div>
      <!-- div md4 -->
    </div>
    <!-- div row -->
  </main>
</div>
<!-- div body -->


 