<app-nav-bar></app-nav-bar>
<div class="body">

  <main role="main" class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card-deck">
              <div class="card">
                <img class="card-img-top" src="assets/images/logo2.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Guemri Mondher</h5>
                  <p class="card-text">Ingénieur Java / JEE </p>
                  <p class="card-text">
                    <small class="text-muted">Cite l'oasis Ghomrassen 3220</small><br>
                    <small class="text-muted">Portable :20 532 900</small>
                  </p>
                </div>
              </div>
            </div>
    
          </div>
      <div class="col-md-9">

        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home"
              aria-selected="true">Mes Infos</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile"
              aria-selected="false">Compte</a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact"
              aria-selected="false">Contact</a>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="my-3 p-3 bg-white rounded box-shadow">

              <form>
                <div class="form-group ">
                    <div class="form-label-group">Nom :
                 
                    <input type="text" class="form-control" id="nom" placeholder="Nom">
                  </div>
                </div>
                <div class="form-group ">
                    <div class="form-label-group">Prenom:
                   
                      <input type="text" class="form-control" id="prenom" placeholder="Prenom">
                    </div>
                  </div>

                  <div class="form-group ">
                      <div class="form-label-group">Date de Naissance:
                     
                        <input type="date" class="form-control" id="naissance" placeholder="Date de Naissance">
                      </div>
                    </div>
               
                    <div class="form-group ">
                        <div class="form-label-group">Address:
                      
                          <input type="text" class="form-control" id="address" placeholder="address">
                        </div>
                      </div>
                      <div class="form-group ">
                          <div class="form-label-group">Profession: 
                         
                            <input type="text" class="form-control" id="profession" placeholder="Profession">
                          </div>
                        </div>
                      <div class="form-group ">
                          <div class="form-label-group">N° Tel (mobile) : 
                      
                            <input type="number" class="form-control" id="numero" placeholder="Numero ">
                          </div>
                        </div>
                 
                <div class="form-group ">
                 
                    <button type="submit" class="btn btn-success">Modifier</button>
                  
                </div>
              </form>


            </div>
          </div>
          <!-- mes Infos -->
          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
              <form  >
                 
                
                    <div class="form-group "> Username :
                      <div class="form-label-group">
                        <input type="text" placeholder="Username"   name="username" class="form-control" required>
    
                      </div>
                    </div>
                    <div class="form-group "> Email :
                        <div class="form-label-group">
                          <input type="email" placeholder="Email"  name="email" class="form-control" required>
      
                        </div>
                      </div>
    
                     
                  
                
                  <div class="form-group "> Nouveaux Mot de passe :
                      <div class="form-label-group">
                        <input type="password" placeholder="Mot de passe"  name="password" class="form-control" required>
    
                      </div>
                    </div>
                    <div class="form-group  "> Confirmation Mot de passe :
                        <div class="form-label-group">
                          <input type="password" placeholder="Mot de passe"  name="confpassword" class="form-control" required>
      
                        </div>
                      </div>
    
    
    
     
                  <button  type="submit" class="btn-md  btn btn-success">Modifier</button>
    
    
                </form>


          </div>
          <!-- Compte -->

          <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">

            <div class="table-responsive">
              <table class="table">
                <tr>
                  <th>#</th>
                  <th>Nom Prenom</th>
                  <th>Action</th>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </table>

            </div>

          </div>
          <!-- Coordonnee -->
        </div>
      </div>
 
      </div>
      </main>
      </div>
 