<app-nav-bar></app-nav-bar>
<div class="body">

  <main role="main" class="container">
    <div class="row">
      <div class="col-md-8">
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home"
              aria-selected="true">Evenements</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile"
              aria-selected="false">Créer un Evenement</a>
            <a class="nav-item nav-link" id="nav-event-tab" data-toggle="tab" href="#nav-event" role="tab" aria-controls="nav-event"
              aria-selected="false">Mes Evenements</a>

          </div>
        </nav>

        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

            <div class="table-responsive">
              <fieldset>
                <legend>Recherche Evenement</legend>
                <div class="form-group">
                  <input [(ngModel)]="motCle" type="text" placeholder="Par Nom du L'evenement" class="form-control">
                </div>
              </fieldset>
              <table class="table table-sm">
                <tr>
                  <th>#</th>
                  <th>Nom du l'evenement</th>
                  <th>Categorie</th>

                  <th>action</th>
                </tr>
                <tr *ngFor="let event of evenements | eventFilter:motCle; let i = index">
                  <td>#{{i+1}}</td>
                  <td>{{event.nomEvenement}}</td>
                  <td>{{event.categorie}}</td>



                  <td>
                    <button type="button" *ngIf="!auth.isUser()" class="btn btn-sm btn-default" (click)="detailEvent(event)">
                      <i class="far fa-eye"></i>
                    </button>
                    <button type="button" *ngIf="auth.isUser()" class="btn btn-sm btn-default" (click)="detailEventUser(event)">
                      <i class="far fa-eye"></i>
                    </button>
                    <button type="button" class="btn btn-sm btn-default" (click)="onArchiveEvent(event)" *ngIf="!auth.isUser()">
                      <i class="fas fa-archive"></i>
                    </button>
                  </td>


                </tr>
              </table>
            </div>


          </div>
          <!-- liste de evenement -->
          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div class="card w-100">
              <div class="card-body">
                <h5 class="card-title">
                  <i class="fas fa-calendar-alt"></i>

                  Evenement

                </h5>

                <p class="card-text"></p>
                <div class="alert alert-success" *ngIf="submitedEventForm">
                  {{messageEvent}}
                </div>
                <form novalidate #fo="ngForm" class="form-signin" (ngSubmit)="saveEvent(fo)">
                  <div class="alert alert-danger" *ngIf="nomEvenement.errors?.required && lieu.touched ">
                    * Veuillez saisir le nom de l'evenement
                  </div>
                  <div class="alert alert-danger" *ngIf="lieu.errors?.required && dateEvenement.touched ">
                    * Veuillez saisir le lieu de l'evenement
                  </div>
                  <div class="alert alert-danger" *ngIf="dateEvenement.errors?.required && heureEvenement.touched ">
                    * Veuillez saisir la date de l'evenement
                  </div>
                  <div class="alert alert-danger" *ngIf="heureEvenement.errors?.required && categorie.touched ">
                    * Veuillez saisir l'heure' de l'evenement
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6"> Nom de L'evenement :
                      <div class="form-label-group">
                        <input [(ngModel)]="evenement.nomEvenement" placeholder="Nom de L'evenement" #nomEvenement="ngModel" type="text" name="nomEvenement"
                          class="form-control" required>

                      </div>
                    </div>
                    <div class="form-group col-md-6"> Lieu de L'evenement :
                      <div class="form-label-group">
                        <input type="text" name="lieu" placeholder="Lieu de L'evenement" class="form-control" [(ngModel)]="evenement.lieu" #lieu="ngModel"
                          required>

                      </div>
                    </div>

                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6"> Date :
                      <div class="form-label-group">
                        <input type="date" name="dateEvenement" [(ngModel)]="evenement.dateEvenement" #dateEvenement="ngModel" class="form-control"
                          required>

                      </div>
                    </div>
                    <div class="form-group col-md-6"> Heure :
                      <div class="form-label-group">
                        <input type="time" name="heureEvenement" [(ngModel)]="evenement.heureEvenement" #heureEvenement="ngModel" class="form-control"
                          required>

                      </div>
                    </div>
                  </div>

                  <div class="form-group">Categorie :
                    <div class="input-group mb-3">

                      <select class="custom-select" id="inputGroupSelect01" name="categorie" [(ngModel)]="evenement.categorie" #categorie="ngModel"
                        required>

                        <option value="Challenge sportif">Challenge sportif</option>
                        <option value="Voyage de motivation">Voyage de motivation</option>
                        <option value="Team learning">Team learning</option>
                        <option value="Séminaire">Séminaire </option>
                        <option value="Marketing">Marketing </option>
                        <option value="Congrès">Congrès</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="form-label-group"> Déscription :
                      <textarea name="description" placeholder="Description" [(ngModel)]="evenement.description" #description="ngModel" class="form-control"> </textarea>

                    </div>
                  </div>




                  <button [disabled]="!fo.form.valid" type="submit" class="btn-md  btn btn-default">Créer</button>


                </form>

              </div>
            </div>


          </div>
          <!-- nouveaux evenement -->
          <div class="tab-pane fade show " id="nav-event" role="tabpanel" aria-labelledby="nav-event-tab">
            <div class="alert alert-warning" *ngIf="submitedEventUser">
              {{messageEventUser}}
            </div>
            <div class="table-responsive">
              <fieldset>
                <legend>Recherche Evenement</legend>
                <div class="form-group">
                  <input [(ngModel)]="motCle" type="text" placeholder="Par Nom du L'evenement" class="form-control">
                </div>
              </fieldset>
              <table class="table table-sm">
                <tr>
                  <th>#</th>
                  <th>Nom du l'evenement</th>
                  <th>Categorie</th>

                  <th>action</th>
                </tr>
                <tr *ngFor="let event of eventLoggedUser | eventFilter:motCle; let i = index">
                  <td>#{{i+1}}</td>
                  <td>{{event.nomEvenement}}</td>
                  <td>{{event.categorie}}</td>



                  <td>
                    <button type="button" class="btn btn-sm btn-default" (click)="detailEvent(event)">
                      <i class="far fa-eye"></i>

                    </button>
                    <button type="button" class="btn btn-sm btn-danger" (click)="deleteEvent(event)">
                        <i class="fas fa-minus-circle"></i>


  
                      </button>

                  </td>
                </tr>
              </table>
            </div>

          </div>
          <!-- Mes event-->
        </div>


      </div>
      <!-- div md8 -->
      <div class="col-md-4">

        <div class="card border-light mb-3" style="max-width: 18rem;">
          <div class="card-header">#Evenement</div>
          <div class="card-body">

            <p class="card-text  lh-125 border-bottom border-gray" *ngFor="let e of evenements">
              <span> {{e.dateCreation | date :'dd/MM/yyyy HH:mm'}} : {{ e.nomEvenement }}
                <span *ngIf="e.dateCreation ==  today ">

                  <span class="badge badge-warning"> Nouveaux</span>


                </span>



              </span>
            </p>
          </div>
        </div>



      </div>
      <!-- div md4 -->
    </div>
    <!-- div row -->
  </main>
</div>
<!-- div body -->