 
.form-signin {
    width: 100%;
    max-width: 300px;
    padding: 15px;
    margin: 120px auto 0px auto;
    
    
  }
  .compte {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin: 10px auto;
    text-align: center;
    
    border-radius: 5px;
    color: black;
  }
  .compteh {
    
    text-align: center;
   
  }
  input{
      margin-top:5px;
      margin-bottom: 5px; 
      width: 100%;
  }
 
 .form-label-group{
     font-weight: bolder;
 }
 