 
    <div class="container">
      <div class="body">
          
          <form novalidate #f="ngForm" (ngSubmit)="onLogin(f.value)" class="form-signin">
           
            <div class="text-center mb-4">
               <h3 class="display-4">Espace de Connexion</h3>
            </div>
            <div class="alert alert-danger" *ngIf="mode==1" >
              <strong>Username/Mot de passe Invalid</strong>
          </div>
            <div class="form-label-group">
              <input type="text" ngModel="" name="username"  placeholder="Username" id="username" class="form-control"   required autofocus>
           
            </div>
      
            <div class="form-label-group">
              <input type="password" ngModel="" name="password" placeholder="Mot de passe"  id="password" class="form-control"   required>
      
            </div>
      
            
            <button class="btn btn-md btn-success btn-block" [disabled]="!f.valid" type="submit">Connexion</button>
            <!-- <button class="btn btn-md btn-primary btn-block" routerLink="/register"  type="submit">Crée un compte</button> -->

                <a href="" class="text-muted"   routerLink="/register">Crée un compte</a>
             
           
            <p class="mt-5 mb-3 text-muted text-center " >&copy;PFE 2017-2018</p>
          
          </form>
         
     
          
      </div>

    </div>
 