:root {
    --input-padding-x: .75rem;
    --input-padding-y: .75rem;
  }
 .body{
     
  background-color: #f1f4f5;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0 auto;
  }
.form-signin {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: 0 auto;
   /* border: 1px solid #000000;
    background-color: #f5f5f5;*/
  }
  
  input{
      margin-top:5px;
      margin-bottom: 5px; 
  }
  h3{
        color: darkgray;
  }
  .btn-info{
    border-radius: 0px;
  }
  .form-control{
    border-radius: 0px;
}