 
    <div class="container">
      <div class="body">
       
          <form novalidate class="form-signin">
            <div class="text-center mb-4">
               <h3 class="display-4">Espace de Connexion</h3>
            </div>
      
            <div class="form-label-group">
              <input type="email"  placeholder="Address Email " id="inputEmail" class="form-control"   required autofocus>
           
            </div>
      
            <div class="form-label-group">
              <input type="password" placeholder="Mot de passe"  id="inputPassword" class="form-control"   required>
      
            </div>
      
            
            <button class="btn btn-md btn-info btn-block" type="submit">Connexion</button>
           
                <a href="" class="text-muted" routerLink="/register">Crée un compte</a>
             
           
            <p class="mt-5 mb-3 text-muted text-center ">&copy;PFE   2017-2018</p>
          
          </form>
         

          
      </div>

    </div>
 